.tech {
    width: 50%;
    padding-left: 15px;
}

.developer {
    width: 50%;
}

.techHeader {
    width: 50%;
    padding: 12px 0px 12px 15px;
    background-color: darkgray;
}

.developerHeader {
    padding: 12px 0px;
    background-color: darkgrey;
    width: 50%;
}

.row {
    display: flex;
    justify-content: start;
    padding: 12px 0px;
}

.row:nth-child(even) {
    background-color: lightgrey;
}

.row:nth-child(odd) {
    background-color: white;
}

.rowHeader {
    display: flex;
    justify-content: stretch;
}

.loading {

}