.App {
  --header_height: 60px;
}

.hw {
  padding-left: 50px;
  padding-top: 32px;
  border-top: 1px solid #D9D9D9
}

.hwTitle {
  margin-top: 71px;
  margin-bottom: 10px;
  padding-left: 70px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
}

.hw2 {
  margin: 0 auto;
}